
body{
    margin: 0;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.half-width h1 {
    padding-top: 65px;
    line-height: 49px;
}

.half-width p {
    font-family: 'Poppins';
    font-size: 13px;
    margin-bottom: 25px;
}

.faxible-container{
    display: flex;
    margin-bottom: 100px;

}
.half-width{
    width: 50%;
    margin-left: 3%;
    
}

.half-width img {
    width: 80%;
    padding-top: 25px;
}

span.strngth-class {
    color: #ff6a00;
}

a.link-portfolio {
    text-decoration: none;
    background-image: linear-gradient(orange,#de2e0f);
    padding: 10px 20px;
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 0.3px;
    border-radius: 50px;
}

.half-width h2 {
    font-family: 'Poppins';
    padding-top: 60px;
    color: #3c3c3c;
}

.half-width p {
    font-family: 'Poppins';
    color: #060606;
    padding-right: 87px;
    text-align: justify;
}

.doctor-advice-sec{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
}

.food-head-sec h2 {
    font-family: 'Poppins';
    font-size: 27px;
    color: #505050;
}

.food-head-sec {
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

.food-head-sec p {
    font-family: 'Poppins';
    font-size: 15px;
    margin-bottom: 47px;
}

.flex-card-wrapper {
    display: flex;
}

.singel-card {
    width: 25%;
    box-shadow: 10px 10px 40px #aba5a5;
    padding: 10px;
    border-radius: 24px;
    margin-left: 3%;
    margin-right: 3%;
}

.singel-card img {
    width: 100%;
}

.singel-card h3 {
    font-family: 'Poppins';
    font-size: 23px;
}

.singel-card p {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 22px;
}

.social-singel-item h2 {
    font-family: 'Poppins';
    font-size: 35px;
    color: #010113;
}

.social-singel-item .item-spn {
    font-family: 'Poppins';
    letter-spacing: .6px;
    font-size: 11px;
    color: #00000a;
    display: block;
    margin-top: -33px;
}

.singel-item-wrapper {
    display: flex;
    width: 93%;
    margin: 0 auto;
    box-shadow: 10px 10px 28px #d4cece;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-radius: 21px;
}

.social-singel-item {
    margin: 0% 3%;
    padding: 0px 115px;
}

section.advice-box-sec {
    display: flex;
    margin-top: 100px;
}


.rihgt-content {
    width: 22%;
    padding-left: 3%;
}

span.count {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 116px;
    color: #fd4a2d;
}

span.plus-signe {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 30px;
    margin-left: -8px;
}

.rihgt-content p {
    font-family: 'Poppins';
    font-weight: bold;
    line-height: 10px;
}

.left-content {
    padding-top: 30px;
    width: 54%;
}

.left-content h2 {
    font-family: 'Poppins';
    font-size: 16px;
    margin-bottom: 28px;
}

.left-singleCon-item {
    display: flex;
}

.firstSingle-card {
    width: 21%;
    background: #fd4a2d;
    padding: 7px;
    color: white;
    margin-right:5%;
}

.firstSingle-card h3 {
    font-family: 'Poppins';
    padding-top: 40px;
}

.firstSingle-card p {
    font-family: 'Poppins';
    font-size: 12px;
    text-align: justify;
    line-height: 14px;
}

section.submission-section {
    display: flex;
    margin-top: 110px;
}

.first-sub-item-width {
    width: 48%;
}

.first-sub-item-width img {
    width: 80%;
}

.first-sub-item-width h2 {
    padding-top: 70px;
    font-family: 'Poppins';
    color: #fd4a2d;
}

input.btn-email {
    padding: 7px 17px;
    outline: none;
    position: relative;
    background: #fd4a2d;
    border: none;
    border-radius: 16px;
}

input.btn-submit {
    border: none;
    background: black;
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
    padding: 4.6px 47px;
    position: absolute;
    margin-left: -10px;
}
.first-sub-item-width p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}