
body{
    margin: 0;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.half-width h1 {
    padding-top: 65px;
    line-height: 49px;
}

.half-width p {
    font-family: 'Poppins';
    font-size: 13px;
    margin-bottom: 25px;
}

.faxible-container{
    display: flex;
    margin-bottom: 80px;

}
.half-width{
    width: 50%;
    margin-left: 3%;
    
}

.half-width img {
    width: 80%;
    padding-top: 25px;
}

span.strngth-class {
    color: #ff6a00;
}

a.link-portfolio {
    text-decoration: none;
    background-image: linear-gradient(orange,#de2e0f);
    padding: 10px 20px;
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 0.3px;
    border-radius: 50px;
}

.half-width h2 {
    font-family: 'Poppins';
    padding-top: 60px;
    color: #3c3c3c;
}

.half-width p {
    font-family: 'Poppins';
    color: #060606;
    padding-right: 87px;
    text-align: justify;
}

.doctor-advice-sec{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
}

.food-head-sec h2 {
    font-family: 'Poppins';
    font-size: 27px;
    color: #505050;
}

.food-head-sec {
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

.food-head-sec p {
    font-family: 'Poppins';
    font-size: 15px;
    margin-bottom: 47px;
}

.flex-card-wrapper {
    display: flex;
}

.singel-card {
    width: 25%;
    box-shadow: 10px 10px 40px #aba5a5;
    padding: 10px;
    border-radius: 24px;
    margin-left: 3%;
    margin-right: 3%;
}

.singel-card img {
    width: 100%;
}

.singel-card h3 {
    font-family: 'Poppins';
    font-size: 23px;
}

.singel-card p {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 22px;
}